#the net CDF files are large and not necessary to keep changes of as we know the source
*.nc
#similarly we are not keeping track of files in the csv folder
csv/datasets/*.csv
csv/features/*.csv
csv/filled/*.csv
#this if for the python virtual environment
.venv
*/__pycache__/*
*/predictions/*